upstream app1 {
  <% @lb_upstreams.each do |lb_upstreams| %>
  server <%= lb_upstreams %>;
  <% end %>
}

server {
  listen <%= @lb_port %>;
	server_name <%= @lb_vhost %>;
  location / {
    proxy_pass http://app1;
    }
}
